.vscode/**
.vscode-test/**
out/test/**
src/**
**/.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
PowerShell/Tests/**
PowerShell/TestClient/Newtonsoft.Json.*/**
.github/**